@import 'tailwindcss';

:root {
    font-family: system-ui, Avenir, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255,0.87);
    background-color: #242424;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    min-width: 320px;
}

h1 {
    line-height: 1.1;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
}

.main {
    flex-grow: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
footer {
    align-self: flex-end;
}

@media(prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
