@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

:root {
    /* font-family: system-ui, Avenir, Arial, Helvetica, sans-serif; */
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255,0.87);
    background-color: #242424;
}

#root {
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

h1 {
    line-height: 1.1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;

}
header nav {
    align-self: flex-start;
}

footer {
    align-self: flex-end;
}

@media(prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
